@model IEnumerable<sandbox.Models.Poland>

<div id="diaryList">
    @foreach (var item in Model)
    {
        <a href="#x" class="overlay" id="po@(item.ID)"></a>
        <div class="popup">
            <div class="popupInner">
                @Html.Raw(File.ReadAllText(Server.MapPath("~/Content/Poland/m_" + @item.Name + ".html")))
                <a class="close" href="#close"></a>
            </div>
        </div>
   
    }
</div>